
<tr class="inner-box"  id="child-row">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <td>
                    <div class="event-img">
                        <img [src]="image" alt="" style="width:100px; height:100px" />
                    </div>
                </td>
            </div>
            <div class="col-lg-8">
                <td style="padding-left: 20px;">
                    <h1 style="color:antiquewhite">{{name}}</h1>
                    <h2 style="color:brown">{{status}}</h2>
                </td>
            </div>
        </div>
    </div>
</tr>

<!--(click)="ViewProfile(name,image,status)"-->