<div id="wrapper" style="background-color: #008379;">

    <app-sidebar>

    </app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: #008379;">

        <!-- Main Content -->
        <div id="content" style="background-color: #008379;">
            <!-- <div>
                <app-navigation></app-navigation>
            </div> -->
            <div>

                <!-- Page Content -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800" style="color:white;text-align: center;font-size: 35px;">
                        Trips</h1><br>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <form>
                                <label for="from">From&nbsp;</label>
                                <input type="date" [(ngModel)]="from" name="from" id="from">&nbsp; &nbsp;
                                <label for="to">To&nbsp;</label>
                                <input type="date" [(ngModel)]="to" name="to">
                                &nbsp; 
                                <button type="submit" style="background-color: #008379;color:white" (click)="DateInterval()">search</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Teacher Name</th>
                                            <th>Teacher Phone</th>
                                            <th>Trip Date</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Trip Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th colspan="6">
                                                Total Trips: {{tripService.allTrips.length}}
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let trip of tripService.allTrips">
                                            <td>{{trip.teacher.user.firstname}} {{trip.teacher.user.lastname}}</td>
                                            <td>{{trip.teacher.user.phone}}</td>
                                            <td>{{trip.tripdate.substring(0,10)}}</td>
                                            <td>{{trip.starttime}}</td>
                                            <td>{{trip.endtime}}</td>
                                            <td>{{trip.id==trip.teacher.id?'Running':'Finished'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!---->
                <!-- /.container-fluid -->
                
                
                <script>
                    $(document).ready(function () {
                        // Get the tallest column height
                        var maxHeight = 0;
                        $('.row > .col').each(function () {
                            var height = $(this).outerHeight();
                            if (height > maxHeight) {
                                maxHeight = height;
                            }
                        });

                        // Set all columns to the same height
                        $('.row > .col').css('min-height', maxHeight);
                    });
                </script>
                <!---->

            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top" style="background-color: #008379;">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="background-color: #008379;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
    template="<img src='https://3.files.edl.io/4f80/20/08/12/191120-9dc15182-a833-44a6-9db0-55080d7d824c.gif' />">
</ngx-spinner>