#register {
    font-size: 20px;
}

#register:hover {
    cursor: pointer;
    font-size: 35px;
}

#report,
#report .card-body,
#report div h4 {
    background-color: gainsboro;
    text-align: center;
}
